<openerp>                
	<menuitem 
	    name="Fed. States"
	    id="menu_country_state_partner" 
	    parent="base.menu_sales_config"
	    action="base.action_country_state" 
	    sequence="30"/>
	<menuitem
	    name="Kota/Kabupaten"
	    id="alisan_city"
	    parent="base.menu_sales_config"
	    action="action_city_tree"
	    sequence="40" />
</openerp>